* {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#section1 {
    height: 20vh;
    margin: 30px;
    margin-bottom: 0px;
}

#itemName {
    height: 40px;
    width: 600px;
    padding-left: 20px;
    border: 2px solid black;
    font-weight: 400;
}

#deadline {
    height: 40px;
    width: 340px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid black;
    font-weight: 400;
}

#priority {
    height: 40px;
    width: 340px;
    padding-left: 20px;
    border: 2px solid black;
    font-weight: 400;
}

#addItemBtn {
    height: 40px;
    width: 150px;
    color: white;
    background-color: black;
    font-weight: 400;
}


.container {
    display: flex;
    justify-content: space-between;
}

#todayTodo {
    background-color: black;
    color: white;
    margin: 20px 40px;
    margin-left: 0;
    padding: 20px 30px;
    height: 50px;
    align-items: center;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
}

#completedTodo {
    background-color: white;
    color: black;
    margin: 20px 40px;
    margin-left: 0;
    padding: 20px 30px;
    height: 50px;
    align-items: center;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
}

.btn2 {
    background-color: black;
    border: none;
    cursor: pointer;
    appearance: none;
}

#btn1{
    background-color: white;
    border: none;
    cursor: pointer;
    appearance: none;
}